<h1><%= pluralize(@movies.size, "Movie") %></h1>

<ul>
  <% @movies.each do |movie| %>	
  	<li>
  		<strong><%= movie.title %></strong>
  		<%= movie.title %> (<%= movie.rating %>):
  		<%= format_total_gross(movie) %>
  		<br />
  		Description: <%= truncate(movie.description, length: 40, separator: ' ') %>
  		<br />
  		Release Date: <%= time_ago_in_words(movie.released_on) %> ago

  	</li>
  <% end %>
</ul>